<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/inventory/style.css" />
  </head>
  <body>
    <div class="sidebar">
      <h1 class="title">$B admin</h1>
      <p class="container-link"><a href="" class="link">Dashboard</a></p>
      <p class="interface">interface</p>
      <p class="container-link border-none">
        <a href="" class="link">component</a>
      </p>
      <p class="container-link"><a href="" class="link">utilities</a></p>
      <p class="interface">adoons</p>
      <p class="container-link  border-none " ><a href="" class="link">pages</a></p>
      <p class="container-link  border-none " ><a href="" class="link">Charts</a></p>
      <p class="container-link"><a href="" class="link">Tables</a></p>
    </div>
  </body>
</html>
